@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;900&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    background-color: #b07cf7;
    font-family: 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 100px;
}

.title {
    margin: 0 auto;
    text-align: center;
    width: 560px;
    color: #ffffff;
}

.title h1 {
    font-size: 4rem;
    margin: 0;
}

.articles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.article {
    position: relative;
    width: 370px;
    height: 300px;
    background-color: #ffffff;
    background-position: center;
    border-radius: 5px;
}

.article-1 {
    background-image: url('../img/1.png');
}

.article-2 {
    background-image: url('../img/2.png');
}

.article-3 {
    background-image: url('../img/3.png');
}

.article-description {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: linear-gradient(transparent, transparent 60%, #000000);
    color: #ffffff;
    padding-left: 20px;
}

.date {
    position: relative;
    left: 10px;
    margin-bottom: auto;
    font-size: 1.5rem;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.article-description h6 {
    font-size: 20px;
    margin: 0;
}

.article-description p {
    font-size: 13px;
    margin: 15px 0 23px;
}

.article:not(.article-description):hover {
    transform: scale(1.1);
    transition: all .5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #fbfbf7;
}